/* Prevent the contents of draggable elements from being selectable. */
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

.dl-item {
	/* box model */
	float: left;
	height: 150px;
	width: 150px;
	border: 2px solid #444;
	margin-right: 5px;
	margin-bottom: 30px;

	/* style */
	background-color: #ccc;
	border-radius: 10px;
	box-shadow: inset 0 0 3px #000;
	text-align: center;
	overflow: hidden;
}

.dl-item header {
	/* box model */
	padding: 5px;
	border-bottom: 1px solid #ddd;

	/* style */
	cursor: move;
	text-shadow: #000 0 1px;
	box-shadow: 5px;
	color: #fff;
	background: #444;
}

.dl-item {
	transition: transform 0.2s ease-out;
}

.dl-item.dl-over {
	border: 2px dashed #000;
}

.dl-item.dl-moving {
	opacity: 0.25;
	transform: scale(0.8);
}

.dl-item .count {
	padding-top: 15px;
	font-weight: bold;
	text-shadow: #fff 0 1px;
}